{% extends "base.html" %}
{% block content %}



<div class="flex justify-around">
<div class="w-[800px] mx-auto">

    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900  dark:text-white text-center">About Us</h1>


    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa fugit blanditiis rerum nisi praesentium quis accusantium repudiandae nostrum deserunt quos sunt saepe, voluptatem iure recusandae harum deleniti? Necessitatibus, voluptatibus hic.</p>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa fugit blanditiis rerum nisi praesentium quis accusantium repudiandae nostrum deserunt quos sunt saepe, voluptatem iure recusandae harum deleniti? Necessitatibus, voluptatibus hic.</p>

    <div>



            <div class="flex justify-between items-center pb-4 bg-white dark:bg-gray-900">
             
               
            </div>
            <table class="w-[700px] mx-auto text-sm text-left text-gray-500 dark:text-gray-400 border-2 border-blue-200">
                <thead class="text-xs text-white uppercase bg-blue-500 ">
                    <tr>
                  
                        <th scope="col" class="py-3 px-6">
                         Name
                        </th>
                        <th scope="col" class="py-3 px-6">
                         Age
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Branch
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Role in the project
                        </th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                     
                        <th scope="row" class="flex items-center py-4 px-6 text-gray-900 whitespace-nowrap dark:text-white">
                            <img class="w-10 h-10 rounded-full" src="/static/girl.png" alt="Jese image" style="object-fit:cover;">
                            <div class="pl-3">
                                <div class="text-base font-semibold">Devika </div>
                                <div class="font-normal text-gray-500">devika@gmail.com</div>
                            </div>  
                        </th>
                        <td class="py-4 px-6">
                            21
                        </td>
                        <td class="py-4 px-6">
                            CS
                        </td>
                        <td class="py-4 px-6">
                            Front-end Developer
                        </td>
                       
                    </tr>

                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                     
                        <th scope="row" class="flex items-center py-4 px-6 text-gray-900 whitespace-nowrap dark:text-white">
                            <img class="w-10 h-10 rounded-full" src="/static/girl.png" alt="Jese image" style="object-fit:cover;">
                            <div class="pl-3">
                                <div class="text-base font-semibold">XYZ </div>
                                <div class="font-normal text-gray-500">xyz@gmail.com</div>
                            </div>  
                        </th>
                        <td class="py-4 px-6">
                            21
                        </td>
                        <td class="py-4 px-6">
                            CS
                        </td>
                        <td class="py-4 px-6">
                            Back-end Developer
                        </td>
                       
                    </tr>

                
                </tbody>
            </table>
        </div>
        



    </div>
   
  
   




</div>
{% endblock %}