{% extends "base.html" %}
{% block content %}




<div class="w-[800px] mx-auto ">

    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900  dark:text-white text-center">About Project</h1>


    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa fugit blanditiis rerum nisi praesentium quis accusantium repudiandae nostrum deserunt quos sunt saepe, voluptatem iure recusandae harum deleniti? Necessitatibus, voluptatibus hic.</p>

    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, quis nulla, accusamus quod ex consequatur nihil ratione hic vel iste asperiores accusantium vitae obcaecati sint repellat inventore! Pariatur, doloremque sed!</p>

    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima laborum praesentium nihil corrupti recusandae placeat qui, consectetur nesciunt expedita modi deserunt nam a non quos enim officiis quasi consequatur quas!</p>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima laborum praesentium nihil corrupti recusandae placeat qui, consectetur nesciunt expedita modi deserunt nam a non quos enim officiis quasi consequatur quas!</p>

   
  
   




</div>
{% endblock %}